<template>
    <div id="main-menu" class="ui inverted segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a href="#" class="item logo-item">
                    <img src="images/logo.png" alt="Logo" class="logo">
                    <span>Boekestyn Greenhouses</span>
                </a>
                <a repeat.for="item of authorizedRoutes" href.bind="item.navModel.href" class="item ${item.navModel.isActive? 'active' : ''}">
                    ${item.title}
                </a>
                <button type="button" class="item" click.trigger="showSearch()">
                    <i class="icon search"></i>
                    Search
                </button>
                <button type="button" class="item" click.trigger="showCalculator()" show.bind="canCreateOrders">
                    <i class="icon plus"></i>
                    New Order
                </button>
                <div class="ui right dropdown item">
                    ${userName}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <button type="button" class="item" click.trigger="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fixed-menu" class="ui large top fixed menu transition hidden">
        <div class="ui container">
            <a href="#" class="item logo-item">
                <img src="images/logo.png" alt="Logo" class="logo">
                <span>Boekestyn Greenhouses</span>
            </a>
            <a repeat.for="item of authorizedRoutes" href.bind="item.href" class="item ${item.isActive? 'active' : ''}">
                ${item.title}
            </a>
            <a type="button" class="item" click.trigger="showCalculator()" show.bind="canCreateOrders">
                <i class="icon plus"></i>
                New Order
            </a>
        </div>
    </div>
</template>
